<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723914197067-66kt21irgl9k2vhd6e44bb66ijaed98k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723914197067-66kt21irgl9k2vhd6e44bb66ijaed98k</string>
	<key>API_KEY</key>
	<string>AIzaSyAdoXw3u5oPIEU5SyF_Uos7bG9XY8XRgx8</string>
	<key>GCM_SENDER_ID</key>
	<string>723914197067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.denebV2</string>
	<key>PROJECT_ID</key>
	<string>scw-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>scw-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723914197067:ios:fae2084d303921920325ce</string>
	<key>DATABASE_URL</key>
	<string>https://scw-flutter-default-rtdb.firebaseio.com</string>
</dict>
</plist>